<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <link rel="stylesheet" href="../contents/bootstrap/bootstrap-css.css" />
  <title>Lecteur Manga</title>
</head>

<body>
  <div class="container mt-4">
    <div class="mb-5 row">
      <div class="col-1 me-2"><a class="btn btn-primary" href="mangaList.html">Home</a></div>
      <div class="col"><a class="btn btn-primary" href="favorites.html">My favorites</a></div>
    </div>
    <p id="test"></p>
  </div>

  <script src="../contents/lodash.js"></script>
  <script src="../actions/test.js"></script>
  <script src="../contents/bootstrap/bootstrap-bundle.js"></script>
</body>

</html>