#profilImageMenu {
  height: 80px;
}

.iconFavorite {
  position: absolute;
  right: 0;
}

#coverManga {
  width: 100%;
  object-fit: contain;
}

.mangaCardImage {
  height: 300px;
  object-fit: cover;
  object-position: center center;
}

.favoriteCardImage {
  height: 300px;
  object-fit: cover;
  object-position: center center;
}

#chapterList {
  max-height: 20px;
}

.mangaTitleCard{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formImage {
  height: 200px;
}

.formImage div {
  height: 100%;
}

#profileImage {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center center;
}